<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>

    <table id="list">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td><%= flight.airline %></td>
            <td><%= flight.airport %></td>
            <td><%= flight.flightNo %></td>
            <%if(flight.departs < new Date()){    %>
                <td style="color: red;"><%= flight.departs %></td>
                <%} else {%>
                    <td><%= flight.departs %></td>
                <%}%>
            </tr>
        </tbody>
    </table>
    <br><br><br><br>

    <% if (tickets.length) { %>
    <h3>Tickets:</h3>
    <table>
        <thead>
            <tr>
                <th>Seat</th>
                <th>Price</th>
                <!-- <th>Delete</th> -->
            </tr>
        </thead>
        <tbody>
            <%tickets.forEach(function(ticket){%>
 
                <tr id="ticket-tr">

                <td><%=ticket.seat%></td>
                <td><%= ticket.price %></td>
                <!-- <td><form action="/<%= flight._id %>?_method=DELETE" class="delete-form" method="POST">
                    <div ><button type="submit">&#10060;</button>
                </form> </td> -->
                </tr>
            <%})%>
        </tbody>
    </table>

    <% } else { %>
        <h3>No Tickets Yet</h3>
      <% } %>

    <br><br><br><br>
    <h3>Add Destination:</h3>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">

        <label>Airport:
            <select name="airport">
                <%validAirports.forEach(function(airport){%>
                    <%if(flight.airport !== airport ){%>
                    <option value="<%=airport%>"><%=airport%></option>
                <%}})%>
            </select>  
            <label>Arrival Date:
                <input type="datetime-local" name="arrival" value="<%=departsDate%>">
            </label>
            <input type="submit" value="Add Destination">
        </label>
    </form>
    <br><br>
    <a href=<%=`/flights/${flight._id}/tickets/new`%> style="align-self: auto">Add a Ticket</a>
    <br><br>
    <a href="/" style="align-self: auto">Back to Home</a>
</body>
</html>